@import '@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Define CSS variables for colors */
:root {
    --color-background: #fffdf9;
    --color-text: #12120d;
    --color-beige: #f5e3c2;
    --color-beige-light: #fdf6e7;
    --color-brown: #633a1e;
    --color-brown-dark: #361917;
    --color-orange: #ffc107;
    --color-orange-electric: #dc3545;
    --color-green: #94de6d;
    --color-sky: #c5eff9;
}

/* Define CSS variables for font size */
:root {
    --font-size-xs: 0.875rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.375rem;
    --font-size-xl: 1.625rem;
    --font-size-xxl: 2rem;

    --base-line-height: 1.4;
    --header-line-height: 1.1;
}

/* Define CSS variables for spacing and radius */
:root {
    --spacing-xs: clamp(0.25rem, 0.5vw + 0.15rem, 0.75rem);
    --spacing-sm: clamp(0.5rem, 0.75vw + 0.25rem, 1rem);
    --spacing-md: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);
    --spacing-lg: clamp(2rem, 3vw + 1rem, 2.5rem);
    --spacing-xl: clamp(4rem, 5vw + 2rem, 4.5rem);
    --spacing-xxl: clamp(8rem, 8vw + 4rem, 8.5rem);

    --radius-sm: clamp(10px, 0.5vw + 0.25rem, 24px);
    --radius-md: clamp(16px, 0.8vw + 0.4rem, 36px);

    --border-size: clamp(2px, 0.2vw + 0.1rem, 3px);
}

:root {
    --shadow-offset-y: 0 calc(var(--border-size) * 2) 0;
    --shadow-inset: inset 0 0.1rem 0 rgba(255, 255, 255, 0.5);
}

html {
    font-size: clamp(18px, 1.5vw, 32px);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

* {
    cursor: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Pally';
    src:
        url('/fonts/pally.woff2') format('woff2'),
        url('/fonts/pally.woff') format('woff');
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

.pally {
    font-family: 'Pally', sans-serif;
    font-weight: 500;
}

.fredoka {
    font-family: 'Fredoka', sans-serif;
}

strong,
b,
.bold {
    font-weight: 500;
}

body {
    color: var(--color-text);
    background: var(--color-background);
    line-height: var(--base-line-height);

    font-family: 'Fredoka', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
